{% extends "base.html" %}

{% load crispy_forms_tags %}

<title>{% block title %}Change Password{% endblock %}</title>

{% block content %}



<br/><br/>

<div class="container">
    <h1>Change Password</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-secondary">Update Password</button>
    </form>

<br/>

    <ul>
        <li>Your password can't be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can't be a commonly used password.</li>
        <li>Your password can't be entirely numeric.</li>
    </ul>
</div>


{% endblock %}