{% extends 'base.html' %}

{% load crispy_forms_tags %}

<title>{% block title %}Edit Blog Post {% endblock %}</title>

{% block content %}
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}

        <div class="container">
            <h1>Update Post</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-secondary">Update</button>
            </form>
        </div>

    {% else %}

    You are not the owner of this post.

    {% endif %}
{% else %}

You have to <a href="{% url 'account_login' %}">log in</a> to use this feature.

{% endif %}
{% endblock %}